<div class="jumbotron">
  <div class="container">
    <h1>Directions</h1>
  </div>
</div>
<div class="container">

  <p class="lead">
    We’re approximately 50 minutes north of Louisville and about 45 minutes south of Cincinnati. We are just outside
    Owenton, Kentucky. We’re about 45 minutes from Frankfort and I-64. From I-71 and exit #57, we’re 6 miles south
    at
    #35 on Highway 35.
  </p>

  <div class="row">
    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.3582798985817!2d-84.85056664835733!3d38.64064147951094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841fbf24e90bdad%3A0xf932ebffc24777d6!2s35+KY-35%2C+Sparta%2C+KY+41086!5e0!3m2!1sen!2sus!4v1495119213444"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>

</div>
