<div class="container-fluid" *ngIf="item">
  <div class="card card-cascade wider reverse">
    <!-- Card image -->
    <div class="view overlay">
      <img *ngIf="imagesBasic.length > 0" class="card-img-top" [src]="imagesBasic[0].img" alt="Card image cap">


      <!--<a href="#!">-->
      <!--<div class="mask rgba-white-slight"></div>-->
      <!--</a>-->
    </div>
    <!-- Card content -->
    <div class="card-body">

      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a [routerLink]="['']">Inventory</a></li>
        <li class="breadcrumb-item active">{{ item.name }}</li>
      </ol>
      <h1 class="h1-responsive card-title">{{ item.name }}</h1>
      <h3 class="h3-responsive">{{ item.category }}</h3>
      <hr>
      <div class="row">
        <div class="col-12 col-md-6">

          <h3 class="h3-responsive" *ngIf="item.price">{{item.price | currency:'USD':'symbol':'1.0-2' }}</h3>
          <ng-template ngFor let-spec [ngForOf]="allSpecs" let-i="index">
            <div *ngIf="spec.value">
              <span class="text-muted">{{spec.text}}</span>
              <span class="font-weight-bold pull-right text-overflow">{{spec.value}}</span>
            </div>
          </ng-template>

          <hr *ngIf="options.length > 0">
          <h5 class="h5-responsive" *ngIf="options.length > 0">Features</h5>
          <ul *ngIf="options.length > 0">
            <li *ngFor="let o of options">{{ o }}</li>
          </ul>

          <hr>
          <h5 class="h5-responsive" *ngIf="item.comments">Description</h5>
          <p *ngIf="item.comments">
            {{item.comments}}
          </p>

          <p class="text-muted">Stock # {{item.stockNumber}}</p>


          <!--<a class="btn btn-primary btn-block waves-light" mdbWavesEffect [routerLink]="['/contact']"-->
          <!--[queryParams]="{subject: item.stockNumber ? 'Interest in #' + item.stockNumber: ''}">Contact Us-->
          <!--</a>-->
          <hr>
          <p>
            Give us a call <a href="tel:1-502-463-2233">1-(502)-463-2233</a> or send a
            <a [routerLink]="['/contact']"
               [queryParams]="{subject: item.stockNumber ? 'Interest in #' + item.stockNumber: ''}">message.
            </a>
          </p>


        </div>
        <div class="col-12 col-md-6 order-md-0">
          <div *ngIf="item.video_url" class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item  pb-3"
                    [src]="video_url"
                    allowfullscreen>
            </iframe>
          </div>
          <mdb-image-modal #lightbox [modalImages]="imagesBasic" type="margin" [smooth]="true"></mdb-image-modal>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" *ngIf="authService.isAdmin | async">
  <a class="btn-floating btn-large red waves-light" mdbWavesEffect [routerLink]="['edit']">
    <i class="fa fa-edit"></i>
  </a>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" *ngIf="!(authService.isAdmin | async)">
  <a class="btn-floating btn-large red waves-light" mdbWavesEffect href="tel:1-502-463-2233">
    <i class="fa fa-phone"></i>
  </a>
</div>
