<div class="container-fluid">
  <section>

    <!--Section heading-->
    <h1 class="h1-responsive">Contact us</h1>
    <!--Section description-->
    <p class="pb-4">We’re approximately 50 minutes north of Louisville and about 45 minutes south of Cincinnati. We are
      just outside
      Owenton, Kentucky. We’re about 45 minutes from Frankfort and I-64. From I-71 and exit #57, we’re 6 miles south
      at
      #35 on Highway 35.</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 mb-4">

        <!--Form with header-->
        <div class="card">

          <div class="card-body">
            <!--Header-->
            <div class="form-header blue accent-1">
              <h3 class="h3-responsive">
                <i class="fa fa-envelope"></i> Write to us:</h3>
            </div>

            <p>We look forward to hearing from you and want to serve your needs with any used tractor, trailer, dump
              truck,
              step van, flat bed or anything else that you might be currently looking for.</p>

            <form [formGroup]="contactForm" novalidate (ngSubmit)="contactSubmit(contactForm.value)">
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input class="form-control" mdbInputDirective type="text" id="firstName" formControlName="firstName">
                <label for="firstName">First Name</label>
                <div *ngIf="contactForm.controls['firstName'].touched">
                  <div class="alert alert-danger" *ngIf="contactForm.controls['firstName'].hasError('required')">
                    You must include a first name.
                  </div>
                </div>
              </div>
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" class="form-control" mdbInputDirective id="lastName" formControlName="lastName">
                <label for="lastName">Last Name</label>
                <div *ngIf="contactForm.controls['lastName'].touched">
                  <div class="alert alert-danger" *ngIf="contactForm.controls['lastName'].hasError('required')">
                    You must include a last name.
                  </div>
                </div>
              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input mdbInputDirective type="email" class="form-control" id="email" formControlName="email">
                <label for="email">Your email</label>
                <div *ngIf="contactForm.controls['email'].touched">
                  <div class="alert alert-danger" *ngIf="contactForm.controls['email'].hasError('required')">
                    You must include your email.
                  </div>
                  <div class="alert alert-danger" *ngIf="contactForm.controls['email'].hasError('email')">
                    You must provide a valid email address.
                  </div>
                </div>
              </div>
              <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <input class="form-control" mdbInputDirective type="text" id="subject" formControlName="subject">
                <label for="subject">Subject</label>
                <div *ngIf="contactForm.controls['subject'].touched">
                  <div class="alert alert-danger" *ngIf="contactForm.controls['subject'].hasError('required')">
                    A subject is required.
                  </div>
                </div>
              </div>
              <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea mdbInputDirective type="text" class="md-textarea" id="message"
                          formControlName="message">></textarea>
                <label for="message">Message</label>
                <div *ngIf="contactForm.controls['message'].touched">
                  <div class="alert alert-danger" *ngIf="contactForm.controls['message'].hasError('required')">
                    A message is required.
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-blue btn-lg btn-block waves-light" mdbWavesEffect
                        [disabled]="contactForm.invalid">Submit
                </button>
              </div>


            </form>

          </div>

        </div>
        <!--Form with header-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">

        <!--Google map-->
        <agm-map class="z-depth-1-half map-container" style="height: 400px;" [latitude]="map.lat" [longitude]="map.lng">
          <agm-marker [latitude]="map.lat" [longitude]="map.lng" [label]="'Craigmyle Truck\n& Trailer'"></agm-marker>
        </agm-map>

        <br>
        <!--Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1 waves-light" mdbWavesEffect
               href="http://maps.apple.com/?q=Craigmyle+Trucks,35+KY-35,+Sparta,+KY+41086"
               target="_blank">
              <i class="fa fa-map-marker"></i>
            </a>
            <address class="text-center">
              <strong>Craigmyle Truck & Trailer Sales, Inc.</strong><br/>
              #35 Highway 35<br/>
              Sparta, Kentucky 41086<br/>
            </address>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1 waves-light" mdbWavesEffect href="tel:1-502-463-2233">
              <i class="fa fa-phone"></i>
            </a>
            <p>
              <a href="tel:1-502-463-2233"><strong>1-(502)-463-2233</strong></a>
            </p>
            <p>
              Mon - Fri, 8AM-5PM<br>
              Sat, 8AM-12PM
            </p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1 waves-light" mdbWavesEffect href="mailto:joyce@craigmyletrucks.com">
              <i class="fa fa-envelope"></i>
            </a>
            <p>
              <a href="mailto:joyce@craigmyletrucks.com">joyce@craigmyletrucks.com</a>
            </p>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>

  </section>

</div>
