<div class="container">
  <h1 class="h1-responsive">Admin - Vin Tool</h1>
  <div class="row justify-content-md-center mt-3">
    <div class="col col-lg-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              Vin
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="vin" (keyup.enter)="lookupVin()">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="lookupVin()">Lookup Vin</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="h3-responsive">Results</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <pre>{{ data | json }}</pre>
    </div>
  </div>
</div>
