<ng-template #noImg>
  <img class="card-img-top" src="assets/img/no-image.svg" alt="No Image">
</ng-template>
<div class="jumbotron bg-primary">
  <div class="container">
    <h1>Inventory</h1>
  </div>
</div>
<div class="container">
  <div class="row pb-2">
    <div class="col">
      <form class="form-inline" novalidate [formGroup]="searchForm">

        <div class="input-group">
          <input class="form-control" type="search" formControlName="searchText" placeholder="Search"
                 aria-label="Search">
          <div class="input-group-prepend">
            <button class="btn btn-secondary" (click)="search()" [disabled]="searchForm.invalid">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
          </div>
        </div>

        <button class="btn btn-info ml-sm-2 mt-2 mt-sm-0" (click)="searchClear()">Clear</button>
      </form>
    </div>
    <div class="col">
      <div class="float-right">
        <div *ngIf="authService.isAdmin | async" ngbDropdown placement="bottom-right" class="d-inline-block">
          <button class="btn btn-secondary" ngbDropdownToggle>
            Status: {{ status.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let o of statuses" (click)="setStatus(o)"
                    [disabled]="status.name === o.name">
              {{ o.name }}
            </button>
          </div>
        </div>
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
            Category: {{ category.name }} ({{category.count}})
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let o of categories" (click)="setCategory(o)"
                    [disabled]="category.name === o.name">
              {{ o.name }}
              <span class="pull-right">({{o.count}})</span>
            </button>

          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="add()"
                *ngIf="authService.isAdmin | async">
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="inventory.length != 0">
    <div class="col-lg-4 col-md-6 col-12 mb-3 border-"
         *ngFor="let item of inventory; let i = index ">
      <div class="card h-100" [ngClass]="{
      'border-danger': item.status == 0,
      'border-primary': item.status == 1,
      'border-warning': item.status == 2
      }">
        <a [routerLink]="['inventory', inventoryService.getUrl(item)]">
          <ng-container *ngIf="item.img_public_id; else noImg">
            <cl-image public-id="{{item.img_public_id}}" class="card-img-top">
              <cl-transformation width="350" fetch_format="auto" crop="scale">
              </cl-transformation>
            </cl-image>
          </ng-container>

        </a>
        <div class="card-body">
          <a [routerLink]="['inventory', inventoryService.getUrl(item)]">
            <h4 class="card-title text-center">{{ item.name }}</h4>
          </a>
          <div *ngIf="item.year">
            <span class="text-secondary">Year</span>
            <span class="pull-right text-overflow">{{item.year}}</span>
          </div>
          <div *ngIf="item.make">
            <span class="text-secondary">Make</span>
            <span class="pull-right text-overflow">{{item.make}}</span>
          </div>
          <div *ngIf="item.model">
            <span class="text-secondary">Model</span>
            <span class="pull-right text-overflow">{{item.model}}</span>
          </div>
          <div *ngIf="item.engineManufacturer || item.engineModel">
            <span class="text-secondary">Engine</span>
            <span class="pull-right text-overflow">
              {{inventoryService.getEngineName(item)}}
            </span>
          </div>
          <div *ngIf="item.transmission || item.transmissionManufacturer">
            <span class="text-secondary">Transmission</span>
            <span
              class="pull-right text-overflow">{{ [item.transmissionManufacturer, item.transmission].join(' ') }}</span>
          </div>
          <div *ngIf="item.suspension">
            <span class="text-secondary">Suspension</span>
            <span class="pull-right text-overflow">{{item.suspension}}</span>
          </div>
          <div *ngIf="item.odometer">
            <span class="text-secondary">Mileage</span>
            <span class="pull-right text-overflow">{{item.odometer | number }}</span>
          </div>
          <div *ngIf="item.price">
            <span class="text-secondary">Price</span>
            <span class="pull-right text-overflow">{{item.price | currency:'USD':'symbol':'1.0-2' }}</span>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col text-muted text-right">
              Stock # {{ item.stockNumber || 'N/A'}}
            </div>
          </div>
          <div class="btn-group d-flex" *ngIf="authService.isAdmin | async">
            <a class="btn btn-primary w-100" [routerLink]="[ 'inventory', inventoryService.getUrl(item), 'edit']">
              Edit
            </a>
            <button type="button" class="btn btn-danger w-100" (click)="delete(item)">
              Delete
            </button>
          </div>
          <div class="form-check py-2" *ngIf="authService.isAdmin | async">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [checked]="item.commercialTruckTrader"
                     (change)="toggleCommericalTruckTrader(item)">
              Commercial Truck Trader
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="inventory.length === 0">
    <div class="col text-muted">
      Sorry, no results found!
      <span class="text-muted" *ngIf="category.name !== 'All'">
        You might have luck looking in other categories.
      </span>
    </div>
  </div>
</div>
