<ng-template #noImg>
  <img class="card-img-top" src="assets/img/no-image.svg" alt="No Image">
</ng-template>
<div class="container-fluid">
  <div class="row pb-2">
    <div class="col-12 col-md-6">
      <form novalidate [formGroup]="searchForm">
        <div class="md-form">
          <i class="fa fa-search prefix"></i>
          <input type="text" formControlName="searchText" id="search" class="form-control" mdbInputDirective
                 (change)="search()">
          <label for="search">Search</label>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <div class="float-right">
        <div class="btn-group" *ngIf="authService.isAdmin | async" dropdown>
          <button dropdownToggle class="btn btn-secondary btn-sm dropdown-toggle waves-light" mdbWavesEffect>
            Status: {{ status.name }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" *ngFor="let o of statuses" (click)="setStatus(o)"
                    [disabled]="status.name === o.name">
              {{ o.name }}
            </button>
          </div>
        </div>
        <div class="btn-group" dropdown>
          <button dropdownToggle class="btn btn-secondary btn-sm dropdown-toggle waves-light" mdbWavesEffect>
            Category: {{ category.name }} ({{category.count}})
          </button>
          <div class="dropdown-menu  dropdown-menu-right">
            <button class="dropdown-item" *ngFor="let o of categories" (click)="setCategory(o)"
                    [disabled]="category.name === o.name">
              {{ o.name }}
              <span class="pull-right">({{o.count}})</span>
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect
                *ngIf="authService.isAdmin | async"
                (click)="add()">
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="inventory.length != 0">
    <div class="col-lg-4 col-md-6 col-12 mb-3 board-"
         *ngFor="let item of inventory; let i = index ">
      <div class="card card-cascade h-100" [ngClass]="{
      'border-danger': item.status == 0,
      'border-primary': item.status == 1,
      'border-warning': item.status == 2
      }">
        <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
          <ng-container *ngIf="item.img_public_id; else noImg">
            <cl-image public-id="{{item.img_public_id}}" class="card-img-top">
              <cl-transformation width="350" fetch_format="auto" crop="scale">
              </cl-transformation>
            </cl-image>
          </ng-container>

          <a [routerLink]="['inventory', inventoryService.getUrl(item)]">
            <div class="mask"></div>
          </a>
        </div>

        <div class="card-body">
          <a [routerLink]="['inventory', inventoryService.getUrl(item)]">
            <h4 class="card-title text-center">{{ item.name }}</h4>
          </a>
          <div *ngIf="item.year">
            <span class="text-secondary">Year</span>
            <span class="pull-right text-overflow">{{item.year}}</span>
          </div>
          <div *ngIf="item.make">
            <span class="text-secondary">Make</span>
            <span class="pull-right text-overflow">{{item.make}}</span>
          </div>
          <div *ngIf="item.model">
            <span class="text-secondary">Model</span>
            <span class="pull-right text-overflow">{{item.model}}</span>
          </div>
          <div *ngIf="item.engineManufacturer || item.engineModel">
            <span class="text-secondary">Engine</span>
            <span class="pull-right text-overflow">
              {{inventoryService.getEngineName(item)}}
            </span>
          </div>
          <div *ngIf="item.transmission || item.transmissionManufacturer">
            <span class="text-secondary">Transmission</span>
            <span
              class="pull-right text-overflow">{{ [item.transmissionManufacturer, item.transmission].join(' ') }}</span>
          </div>
          <div *ngIf="item.suspension">
            <span class="text-secondary">Suspension</span>
            <span class="pull-right text-overflow">{{item.suspension}}</span>
          </div>
          <div *ngIf="item.odometer">
            <span class="text-secondary">Mileage</span>
            <span class="pull-right text-overflow">{{item.odometer | number }}</span>
          </div>
          <div *ngIf="item.price">
            <span class="text-secondary">Price</span>
            <span class="pull-right text-overflow">{{item.price | currency:'USD':'symbol':'1.0-2' }}</span>
          </div>


          <div class="btn-group d-flex" *ngIf="authService.isAdmin | async">
            <a class="btn btn-primary w-100" [routerLink]="[ 'inventory', inventoryService.getUrl(item), 'edit']">
              Edit
            </a>
            <button type="button" class="btn btn-danger w-100" (click)="delete(item)">
              Delete
            </button>
          </div>
          -
        </div>
        <div class="mdb-color lighten-3 text-center">
          <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item white-text"> <!--pr-2-->
              Stock # {{ item.stockNumber || 'N/A'}}
            </li>
          </ul>


          <!--<div class="form-check py-2" *ngIf="authService.isAdmin | async">-->
          <!--<label class="form-check-label">-->
          <!--<input type="checkbox" class="form-check-input" [checked]="item.commercialTruckTrader"-->
          <!--(change)="toggleCommericalTruckTrader(item)">-->
          <!--Commercial Truck Trader-->
          <!--</label>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="inventory.length === 0">
    <div class="col text-muted">
      Sorry, no results found!
      <span class="text-muted" *ngIf="category.name !== 'All'">
        You might have luck looking in other categories.
      </span>
    </div>
  </div>
</div>
