<ng-template #noImg>
  <img class="card-img-top" src="assets/img/no-image.svg" alt="No Image">
</ng-template>
<div class="jumbotron bg-primary">
  <div class="container">
    <h1>Inventory</h1>
  </div>
</div>
<div class="container">
  <div class="row pb-2">
    <div class="col">
      <form class="form-inline" novalidate [formGroup]="searchForm">

        <div class="input-group">
          <input class="form-control" type="search" formControlName="searchText" placeholder="Search"
                 aria-label="Search">
          <div class="input-group-prepend">
            <button class="btn btn-secondary" (click)="search()" [disabled]="searchForm.invalid">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
          </div>
        </div>

        <button class="btn btn-info ml-sm-2 mt-2 mt-sm-0" (click)="searchClear()">Clear</button>
      </form>
    </div>
    <div class="col">
      <div class="float-right">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Category: {{ category }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="setCategory('All')" [disabled]="category === 'All'">All</button>
            <button class="dropdown-item" *ngFor="let o of inventoryService.categories" (click)="setCategory(o)"
                    [disabled]="category === o">
              {{ o }}
            </button>

          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="add()"
                *ngIf="(authService.user | async)?.admin">
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="(inventory | async)?.length != 0">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3"
         *ngFor="let item of inventory | async; let i = index ">
      <div class="card h-100" [ngClass]="{
      'border-primary': item.status != 0,
      'border-danger': item.status == 0
      }">
        <a [routerLink]="[item.id]">
          <ng-container *ngIf="item.img_public_id; else noImg">
            <cl-image public-id="{{item.img_public_id}}" class="card-img-top">
              <cl-transformation width="350" fetch_format="auto" crop="scale">
              </cl-transformation>
            </cl-image>
          </ng-container>
        </a>
        <div class="card-body">
          <a [routerLink]="[item.id]">
            <h4 class="card-title text-center">{{ item.name }}</h4>
          </a>
          <div class="row" *ngIf="item.year">
            <div class="col">
              Year
              <span class="pull-right">
                {{item.year}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="item.make">
            <div class="col">
              Make
              <span class="pull-right">
                {{item.make}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="item.model">
            <div class="col">Model
              <span class="pull-right">
              {{item.model}}
            </span>
            </div>
          </div>
          <div class="row" *ngIf="item.engineManufacturer">
            <div class="col">Engine
              <span class="pull-right">
              {{item.engineManufacturer}}
            </span>
            </div>
          </div>
          <div class="row" *ngIf="item.transmission">
            <div class="col">Transmission
              <span class="pull-right">
                {{item.transmission}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="item.suspension">
            <div class="col">
              Suspension
              <span class="pull-right">
                {{item.suspension}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="item.odometer">
            <div class="col">
              Mileage
              <span class="pull-right">{{item.odometer | number }}</span>
            </div>
          </div>
          <div class="row" *ngIf="item.price">
            <div class="col">
              Price
              <span class="pull-right">{{item.price | currency:'USD':'symbol':'1.0-2' }}</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col text-muted text-right">
              Stock # {{ item.stockNumber || 'N/A'}}
            </div>
          </div>
          <div class="btn-group d-flex" *ngIf="(authService.user | async)?.admin">
            <a class="btn btn-primary w-100" [routerLink]="[ item.id, 'edit']">
              Edit
            </a>
            <button type="button" class="btn btn-danger w-100" (click)="delete(item)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="(inventory | async)?.length == 0">
    <div class="col">
      <p class="lead">Sorry, no results found!</p>
    </div>
  </div>
</div>-
