<div class="container" *ngIf="item$ | async as item">
  <div class="row">
    <div class="col">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a [routerLink]="['/inventory']">Inventory</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/inventory', id ]">{{ item.year ? item.year + ' ' : '' }}{{
          item.name }}</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </div>
  </div>
  <h1 class="modal-title">Editing <span class="text-info">{{ item.name }}</span></h1>

  <ngb-tabset>
    <ngb-tab title="Properties">
      <ng-template ngbTabContent>
        <div class="row mt-3">
          <div class="col">
            <form [formGroup]="itemForm" novalidate>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" formControlName="status">
                      <option [ngValue]="0">Hidden</option>
                      <option [ngValue]="1">Visible</option>
                      <option [ngValue]="2">Sale</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Engine Make</label>
                    <input class="form-control" formControlName="engineMake">
                  </div>
                  <div class="form-group">
                    <label>Engine Model</label>
                    <input class="form-control" formControlName="engineModel">
                  </div>
                  <div class="form-group">
                    <label>Engine HP</label>
                    <input class="form-control" formControlName="engineHP">
                  </div>

                  <div class="form-group">
                    <label>Transmission</label>
                    <input class="form-control" formControlName="transmission">
                  </div>
                  <div class="form-group">
                    <label>Suspension</label>
                    <input class="form-control" formControlName="suspension">
                  </div>
                  <div class="form-group">
                    <label>Rear End Ratio</label>
                    <input class="form-control" formControlName="rearEndRatio">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Price</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                             formControlName="price">
                      <span class="input-group-addon">.00</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Year</label>
                    <input class="form-control" formControlName="year">
                  </div>
                  <div class="form-group">
                    <label>Stock #</label>
                    <input class="form-control" formControlName="stockNumber">
                  </div>
                  <div class="form-group">
                    <label>GVWR</label>
                    <input class="form-control" formControlName="gvwr">
                  </div>
                  <div class="form-group">
                    <label>Bed Dimensions</label>
                    <input class="form-control" formControlName="bedDimensions">
                  </div>
                  <div class="form-group">
                    <label>Wheel Base</label>
                    <input class="form-control" formControlName="wheelBase">
                  </div>
                  <div class="form-group">
                    <label>Odometer</label>
                    <input class="form-control" formControlName="odometer">
                  </div>
                  <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" formControlName="comments"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Images">
      <ng-template ngbTabContent>
        <div class="row mt-3">
          <div class="col-6 col-sm-4 col-md-3 mb-3"
               *ngFor="let img of images$ | async as images; let i = index ">
            <div class="card"
                 [ngClass]="{
                 'border-primary': item.img_public_id === img.public_id,
                 'border-secondary':  item.img_public_id !== img.public_id
                 }">
              <cl-image public-id="{{img.public_id}}" class="card-img-top">
                <cl-transformation width="350" fetch_format="auto" crop="scale">
                </cl-transformation>
              </cl-image>
              <div class="card-body py-1">
                {{ img.id }}
              </div>
              <div class="card-footer">
                <div class="btn-group d-flex" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-primary w-100"
                          [disabled]="i === 0"
                          (click)="moveImageUp(img, images[i - 1], item.img_public_id)">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-outline-danger w-100" (click)="deleteImage(img, i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary w-100"
                          [disabled]="i === images.length - 1"
                          (click)="moveImageDown(img, images[i + 1], item.img_public_id)">
                    <i class="fa fa-chevron-right " aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3>Upload Images</h3>
        <div class="row">
          <div class="col">
            <input type="file" class="form-control-file" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>
        </div>

        <h3>Upload queue
          <span class="text-info" *ngIf="uploader?.queue?.length > 0">(Length: {{ uploader?.queue?.length }})</span>
        </h3>

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-sm"
                      (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-sm"
                      (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-sm"
                      (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          <tr *ngIf="uploader?.queue?.length == 0">
            <td colspan="5">
              <p class="text-muted">Nothing in queue!</p>
            </td>
          </tr>
          </tbody>
        </table>
        <h5>Queue progress</h5>

        <ngb-progressbar type="success" [value]="uploader.progress"></ngb-progressbar>


        <div class="row">
          <div class="col mt-2">
            <!--<button type="button" class="btn btn-success btn-sm"-->
            <!--(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
            <!--<span class="glyphicon glyphicon-upload"></span> Upload all-->
            <!--</button>-->
            <button type="button" class="btn btn-warning btn-sm"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-sm"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="row pt-3">
    <div class="col">
      <button type="button" class="btn btn-primary btn-block" (click)="save()">Save</button>
    </div>
  </div>
</div>

