<div class="jumbotron">
  <div class="container">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container">
  <p class="lead">
    We look forward to hearing from you and want to serve your needs with any used tractor, trailer, dump truck, step
    van,
    flat bed or anything else that you might be currently looking for. Please feel free to call us at 502-463-2233, or
    send us information about your truck needs.
  </p>
  <p class="text-center">
    Craigmyle Truck & Trailer Sales, Inc.<br/>
    #35 Highway 35<br/>
    Sparta, Kentucky 41086<br/>
    502-463-2233<br/>
  </p>

  // TODDO: add form
</div>
