<div class="container-fluid">
  <h1>About</h1>
  <img class="rounded float-left pr-4" src="assets/img/dump-truck.jpg" alt="Dump Truck">

  <p class="lead">
    Thank you for visiting Craigmyle Truck & Trailer Sales. If you’re looking for a good deal on quality used trucks &
    trailers, you’ve come to the right place!
  </p>

  <p>
    Craigmyle Truck & Trailer Sales is a family owned business and has been selling trucks to customers nationwide since
    opening for business in 1999. You can expect to work with John Craigmyle (the owner), or his secretary Joyce when
    you call or visit. Also expect to get the straight facts about the used truck or equipment that you purchase.
  </p>
  <p>
    We pride ourselves in dealing with our customers using the honesty and integrity that every customer deserves. Give
    us a call at 502-463-2233, email us, or just drop by and visit. If you’re looking for a specific type of heavy
    truck, please contact us and Joyce will be more than happy to assist you.
  </p>
  <p>
    Craigmyle Truck & Trailer Sales is conveniently located right off Interstate 71 North of Louisville, Kentucky and
    South of Cincinnati, Ohio. We’re only six (6) miles South of I-71 on Highway 35 at the Kentucky Speedway Exit. You
    can also reach us easily from I-64 in Frankfort via Highway 127. Please see the map on the Contact Us page for more
    details.
  </p>
  <img class="rounded float-right pl-4" src="assets/img/couple-photo.jpg" alt="Johhny and Pat">
  <p>
    In February 1999, my wife Pat and I started Craigmyle Truck & Trailer Sales. We’ve been married for over 50 years,
    have one daughter, three grandsons and a granddaughter. In 2008, Kasey, our daughter, joined the business as sales
    associate.
  </p>
  <p>
    My experienced staff and I know what to look for in determining a solid dependable truck. We search for quality used
    equipment and if we don’t have what you are looking for, we may be able to find it or build it. I personally check
    out every piece of used equipment we bring on the lot.
  </p>
  <p>
    We realize that the best advertising for a business like ours is a good referral from a satisfied customer, so we
    strive to achieve that goal.We invite you to take a “virtual” look at all of our equipment. Feel free to give us a
    call or drop us an e-mail and stop by for a “hands-on look” at our equipment as well.
  </p>
  <p>
    Thanks!
  </p>
</div>














