<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 dis">
      Craigmyle Truck & Trailer Sales Inc
    </h1>
    <p class="lead">
      Thank you for visiting. If you’re looking for a good deal on quality used trucks &
      trailers, you’ve come to the right place!
    </p>
    <hr class="my-4">
    <p class="lead text-center">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/inventory']">View Inventory</a>
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/contact']">Contact Us</a>
    </p>
  </div>
</div>

<section class="container">

  <div class="row">
    <div class="col-md-4">
      <h2>Inventory</h2>
      <p>We are always bring in new equipment, take a look and let us know what you are looking for. </p>
      <p><a class="btn btn-secondary" [routerLink]="['/inventory']" role="button">Inventory »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Family Owned</h2>
      <p>We are family owned business and has been selling trucks to customers nationwide since opening for business in
        1999. We pride ourselves in dealing with our customers using the honesty and integrity that every customer
        deserves.</p>
      <p><a class="btn btn-secondary" [routerLink]="['/about']" role="button">About Us »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Location</h2>
      <p>We’re approximately 50 minutes north of Louisville and about 45 minutes south of Cincinnati. We are just
        outside Owenton, Kentucky.</p>
      <p><a class="btn btn-secondary" [routerLink]="['/directions']" role="button">Directions »</a></p>
    </div>
  </div>
</section>
