<div class="container-fluid">
  <h1>Admin - Equipment Options</h1>
  <div class="row mt-3">
    <div class="col">
      <table class="table  table-sm table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="addText">
          </td>
          <td>
            <button class="btn btn-primary" (click)="addOption(addText)">
              <i class="fa fa-plus"></i>Add
            </button>
          </td>
        </tr>
        <tr *ngFor="let o of options">
          <td>
            {{ o.name }}
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteOption(o)">
              <i class="fa fa-trash"></i>
              Delete
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="addText">
          </td>
          <td>
            <button class="btn btn-primary" (click)="addOption(addText)">
              <i class="fa fa-plus"></i>Add
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
